*{
  font-family: sans-serif;
}
body{
  background-color: #001f3f;
}
.header{
  margin-left: 3rem;
  color: #39CCCC;
}
.homeBtn{
  margin-left: 3rem;
  text-decoration: none;
  color:#E5E5E5 ;
}
.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0px;
  background-color: #E5E5E5;
  margin-top: 20px;
  height: 85vh;
}
#buildBtn{
  width: 6vw;
  height: 10vh;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  opacity: 60%;
  cursor: pointer;
}
#buildBtn .plus{
  width: 6vw;
  height: 6vh;
  font-size: 1.5rem;
}
.para{
  color:#333333 ;
  font-size: 1.5rem;
  font-weight: 500;
}
.dataContainer{
  margin-top :1em;
  display: flex;
  flex-wrap: wrap;
}
.singleContainer{
  position: relative;
  padding: 1.5rem;
  cursor: pointer;
}
.showResumeName{
  margin: 1rem;
  font-weight: 600;
}
.singleContainer img{
  box-shadow: 0px 10px 20px rgb(121, 120, 120);
  height:140px;
  width:200px;
}
.project-btns{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 4.7rem;
  left: 1.5rem;
  width: 200px;
  height: 140px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
}
.project-btns button{
 margin: 0 10px 10px 0 ;
 background-color: white;
 border: none;
 cursor: pointer;
}
.singleContainer:hover .project-btns{
  visibility: visible;
  opacity: 1;
}
.persnolResume ,.aboutResume, .educationResume, .expResume, .projectResume, .skillResume{
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.formContainer form{
  display: flex;
 flex-direction: column;
  flex-wrap: wrap;
  width: 60vw;
  padding: 15px;
  background-color: lightgrey;
  border-radius: 0px 0px 15px 15px;
}
.formContainer form .smallbox{
  margin-top: 10px;
}
.formContainer form input {
  width: 20vw;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.formContainer textarea{
  width: 30vw;
  height: 50px;
  margin-bottom: 10px;
}
.formContainer form button{
  width: 8vw;
  height: 30px;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
 h2{
  width: 60vw;
  padding: 15px;
  height: 5vh;
  background-color: #001f3f;
  color: #39CCCC;
  margin: 0px;
  border-radius: 15px 0px 0px 0px;
}
.extra{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.btndiv{
  width: 60vw;
  display: flex;
  margin-top: 10px;
}
.addBtn{
  width: 5vw;
  height: 30px;
  background-color: lightgrey;
  color: black;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  float: left;
}
.showContainer{
  background-color: #001f3f;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
}
.showContainer h2{
  background-color: white;
  color: black;
  border-radius: 0px 10px 0px 0px;
  padding: 20px 0 0 0 ;
  width: 57vw;
}
h3{
  color: blue;
}
.showContainer .leftPotion{
  background-color: white;
 width: 25vw;
 padding-left: 40px;
 padding-bottom: 20px;
 border-radius: 10px 0px 0px 10px;
}
.showContainer .rightPotion{
  width: 30vw;
  background-color: white;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-radius: 0px 0px 10px 0px;
  border-left: 1px solid black;
}
.showPersonal div{
  margin: 0px 10px 10px 0;
}
.showSkills div{
  margin: 0px 10px 5px 0;
  font-weight: 600;
}
.showSkills .div2{
  font-size: small;
  font-weight: 100;
}
.showAbtCnt div{
  margin: 0px 10px 10px 0;
}
.showEdContainer .edu{
  margin: 10px 10px 10px 0;
}
.showEdContainer .edu div{
  margin-top: 3px;
}
.showEdContainer .div1{
  font-weight: 600;
}
.showEdContainer .div2{
  font-size: small;
}
.showEdContainer .div3{
  font-size: small;
}
.showEdContainer .div4{
  font-size: 14px;
  padding-top: 5px;
}
/* media- query */

@media only screen and (max-width: 900px) {

  .container {
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  
  .educationResume,
.expResume,
.projectResume,
.skillResume {
  height: 500px;
  width: 400px;
 
}

  .Background-image {
    width: 400px
  }

  .header {
    font-size: 20px;
    width: 200px;
  }



}





/* view-section-media query */

@media only screen and (max-width: 1100px) {
  .showContainer {
    padding: 10px;
    width: 100vw;
  }

  .wrapper {
    width: 100vw;
  }

  .showPersonal {
    
    width: 200px;
    
  }


  
}
@media only screen and (max-width: 710px){
  .formContainer form button{
    width: 15vw;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    cursor: pointer;
  }
}